@model Message
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/Idea/ideaprofile.css"/>
</head>
<header> 
        <partial name="HeadingPartial"/>
</header>

<nav>
    <a href="/dashboard">Home |</a>
    <a href="/Edit">Edit User Profile |</a>
    <a href="/idea/form">New Idea |</a>
    <a href="/idea/all">All Ideas |</a>
    <a href="/Logout">Logout</a>
</nav>
<div>
    <div class="intro">
        <h1> @ViewBag.Idea.name</h1>
        <h5>Creator: @ViewBag.creator.fname @ViewBag.creator.lname</h5>
    </div>
    <div class="left">
        <br>
        <h4>Description</h4>
        <div class= "DescBox" >
            @ViewBag.Idea.desc
        </div>
    </div>
    <div class="ApprList">
        <h4>List of approvals</h4>
        @{ var count=2;
            <ol type="1">
                <li>@ViewBag.creator.fname @ViewBag.creator.lname</li>
                @foreach(var a in ViewBag.approvers)
                    {   
                        <li>@a.fname @a.lname</li>
                    }
            </ol>
        }
    </div>
    <a href="/Experiment/@ViewBag.Idea.IdeaId">Link to EDD</a>
    </div>
    <div class="MessageBox">
        <form action="/Messages/{id}" method="post">
 
        <input type="hidden" asp-for="UserId" value="@ViewBag.id">
        <label asp-for="message"></label>
        <input asp-for="message">
        <button>Submit</button>

        
        
        </form>
        this is the message box
    </div>
</div>