
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/Idea/ideaprofile.css"/>
</head>
<header> 
        <partial name="HeadingPartial"/>
</header>
<body>
      <nav>
        <a href="/dashboard">Home |</a>
        <a href="/Edit">Edit User Profile |</a>
        <a href="/idea/form">New Idea |</a>
        <a href="/AllIdeas">Ideas in your que |</a>
        <a href="/Logout">Logout</a>
    </nav>

    <div class="left">
        <h1>Idea Name @Model.name</h1>
        <h3>Creator: @ViewBag.creator.fname @ViewBag.creator.lname</h3>
        <br>
        <h4>Description</h4>
        <div class= "DescBox" >
            @Model.desc
        </div>
    </div>
    <div class="ApprList">
        <h4>List of approvals</h4>
        @{ var count=2;
            <ol type="1">
                <li>@ViewBag.creator.fname @ViewBag.creator.lname</li>
                @foreach(var a in ViewBag.approvers)
                    {   
                        <li>@a.fname @a.lname</li>
                    }
            </ol>
        }
    </div>
    <div class="IdeaHand">
        <img src="~/images/IdeaHand.png">
    </div>
    
    
    </div>
    <h2>Link to EDD </h2>

    <div class="MessageBox">
        this is the message box
    </div>
   
</body>