@model Idea
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/Idea/newidea.css"/>
</head>
<header> 
        <partial name="HeadingPartial"/>
</header>
<body>

<nav>
        <a href="/dashboard">Home |</a>
        <a href="/edit">Edit User Profile |</a>
        <a >New Idea |</a>
        <a href="/idea/all">All Ideas |</a>
        <a href="/Logout">Logout</a>
    </nav>
<div>
<h2>Idea Submission</h2>
<div class="inline">
<form action="/idea/form/process"  method="post">
<label asp-for="name"></label>
<input asp-for="name">
</div>
<div class="approveList">
    <h6>Approval Ladder:</h6>
@{ var count=2;
    <ol type="1">
        <li>@ViewBag.creator.fname @ViewBag.creator.lname</li>
        @foreach(var a in ViewBag.approvers)
            {   
                <li>@count. @a.fname @a.lname</li>
                if(@a.Rank==0){
                <input type="hidden" name="ApproverRank0" value="@a.UserId">
                count=count+1;
                }
                if(@a.Rank==1){
                <input type="hidden" name="ApproverRank1" value="@a.UserId">
                count=count+1;
                }
                if(@a.Rank==2){
                <input type="hidden" name="ApproverRank2" value="@a.UserId">
                count=count+1;
                }
                if(@a.Rank==3){
                <input type="hidden" name="ApproverRank3" value="@a.UserId">
                count=count+1;
                }
                if(@a.Rank==4){
                <input type="hidden" name="ApproverRank4" value="@a.UserId">
                count=count+1;
                }
                if(@a.Rank==5){
                <input type="hidden" name="ApproverRank4" value="@a.UserId">
                count=count+1;
                }
            }
    </ol>
}
</div>
<label asp-for="desc"></label>
<h6>"What problem will this solve</h6>
<h6>Who will use this Customers or Employees?</h6>
<textarea class="desc" asp-for="desc"></textarea>
<input type="hidden" asp-for="CreatorId"value="@ViewBag.id">
<input type="hidden" asp-for="ApproverId"value="@ViewBag.id">
<br>
<input type="submit" value ="Create">
</form>
</div>

    
</body>